<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<!-- 2021-11-05 Fri 23:01 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>&lrm;</title>
<meta name="author" content="Marco Pawłowski" />
<meta name="generator" content="Org Mode" />
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/font-awesome.min.css">
</head>
<body>
<div id="preamble" class="status">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content navbar-container">
    <a class="navbar-brand" href="/ai_blog/">
      <span><img src="/ai_blog/static/img/logonav.png"></span> AI Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/projects">Projects</a></li>
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/docs">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/papers">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/aboutme">About Me</a></li>
      </ul>
      <div class="navbar-right ">
          <ul class="nav navbar-nav fav-nav">
            <li><a href=""><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("navbar-toggler");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
<div id="content" class="content">
<div class="mininav" id="org7a295f8">
<a href="/ai_blog/papers/all_papers.html">All Papers</a>
<p>
<b>Last Papers</b>
<a href="unet-3d.html"><i class="nil"></i></a>
<a href="../ai-sw-dev/ai-sw-dev.html"><i class="nil"></i></a>
<a href="../alexnet/alexnet.html"><i class="nil"></i></a>
<a href="../batchnorm/batchnorm.html"><i class="nil"></i></a>
<a href="../text-to-sql-zero/text-to-sql-zero.html"><i class="nil"></i></a>
<a href="../u-net/u-net.html"><i class="nil"></i>U-Net</a>
</p>

</div>

<div id="content-text">

<h1>

</h1>



<div id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#orgba9878d">Summary</a></li>
<li><a href="#org5c40be9">Network</a></li>
<li><a href="#org1806f99">Data Augmentation</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgba9878d" class="outline-2">
<h2 id="orgba9878d">Summary</h2>
<div class="outline-text-2" id="text-orgba9878d">
<p>
Çiçek et al. extended the idea of the [u-net]({% post<sub>url</sub> /u-net/2021-01-02-u-net %}) to 3D images.
The kernels of the network were adjusted to the 3D by adding an additional dimension to the
kernel size.
</p>

<p>
The network learnes in to possibilities, once from user annotated slices or fully automated
from a annotated training set.
</p>

<p>
The images were of Xenopus kidneys.
</p>

![operations]({{page.img}}/{{page.img_folder}}/operation.png)
*Application  scenarios  for  volumetric  segmentation  with  the  3D  u-net.
(a) Semi-automated segmentation: the user annotates some slices of each vol-ume to be segmented.
The network predicts the dense segmentation. (b) Fully-automated  segmentation:
the  network  is  trained  with  annotated  slices  from  arepresentative training set
and can be run on non-annotated volumes.*
</div>
</div>

<div id="outline-container-org5c40be9" class="outline-2">
<h2 id="org5c40be9">Network</h2>
<div class="outline-text-2" id="text-org5c40be9">
<p>
Like the original [u-net]({% post<sub>url</sub> /u-net/2021-01-02-u-net %}) the network consists of two paths.
</p>

![network]({{page.img}}/{{page.img_folder}}/struct.png)
*The 3D u-net architecture. Blue boxes represent feature maps.
The num-ber of channels is denoted above each feature map.*

<p>
In this network also used the batch normalization after every ReLU layer.
The authors claim the loss function played an important part in the network:
</p>

<blockquote>
<p>
The important part of the architecture, which allows us to train on sparse
annotations, is the weighted softmax loss function. Setting the weights of unla-
beled pixels to zero makes it possible to learn from only the labelled ones and,
hence, to generalize to the whole volume.
</p>
</blockquote>
</div>
</div>

<div id="outline-container-org1806f99" class="outline-2">
<h2 id="org1806f99">Data Augmentation</h2>
<div class="outline-text-2" id="text-org1806f99">
<p>
To augment the data rotation, scaling and gray value augmentation was used.
Additionally a smooth dense deformation field on both data and ground truth labels was applied.
For this, the authors choose random vectors applied a B-spline interpolation.
﻿
</p>



<hr />
<h3>
<p>
Metadata
</p>
</h3>
<table border="2" cellspacing="0" cellpadding="6" rules="rows" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Tags</b></td>
<td class="org-left">&#xa0;</td>
</tr>

<tr>
<td class="org-left"><b>Published Date</b></td>
<td class="org-left">&#xa0;</td>
</tr>
</tbody>
</table>


</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<footer class="footer">
    <div class="container">
        <p class="text-center">
          AI BLOG - Marco Pawłowski
        </p>
    </div>
</footer>
</div>
</body>
</html>
