<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<!-- 2021-11-05 Fri 23:01 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>&lrm;</title>
<meta name="author" content="Marco Pawłowski" />
<meta name="generator" content="Org Mode" />
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/font-awesome.min.css">
</head>
<body>
<div id="preamble" class="status">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content navbar-container">
    <a class="navbar-brand" href="/ai_blog/">
      <span><img src="/ai_blog/static/img/logonav.png"></span> AI Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/projects">Projects</a></li>
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/docs">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/papers">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/aboutme">About Me</a></li>
      </ul>
      <div class="navbar-right ">
          <ul class="nav navbar-nav fav-nav">
            <li><a href=""><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("navbar-toggler");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
<div id="content" class="content">
<div class="mininav" id="org27076f3">
<a href="/ai_blog/papers/all_papers.html">All Papers</a>
<p>
<b>Last Papers</b>
<a href="../3d-unet/unet-3d.html"><i class="nil"></i></a>
<a href="../ai-sw-dev/ai-sw-dev.html"><i class="nil"></i></a>
<a href="../alexnet/alexnet.html"><i class="nil"></i></a>
<a href="batchnorm.html"><i class="nil"></i></a>
<a href="../text-to-sql-zero/text-to-sql-zero.html"><i class="nil"></i></a>
<a href="../u-net/u-net.html"><i class="nil"></i>U-Net</a>
</p>

</div>

<div id="content-text">

<h1>

</h1>



<div id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#org3db141a">Summary</a></li>
<li><a href="#orgd15ad21">Differences to input Normalization</a></li>
<li><a href="#org19bb875">Batch Normalization for CNN and other networks</a></li>
<li><a href="#org5fc41f6">Accelerating a BN Network</a></li>
</ul>
</div>
</div>

<div id="outline-container-org3db141a" class="outline-2">
<h2 id="org3db141a">Summary</h2>
<div class="outline-text-2" id="text-org3db141a">
<p>
Neural Network are generally hard to train. Changing the parameters of one layer
changes the input distribution for the following layer.
This change in distribution is called a <i>covariant shift</i>.
</p>

<p>
To reduce this needed adaptation of the layer to the covariant shift, the authors
present "Batch Normalization" (BN).
This method normalizes the data for each mini-batch, between the layers.
This allows to use a higher learning rate, be less careful about the initialization
and can act as regularizer.
</p>
</div>
</div>


<div id="outline-container-orgd15ad21" class="outline-2">
<h2 id="orgd15ad21">Differences to input Normalization</h2>
<div class="outline-text-2" id="text-orgd15ad21">
<p>
Normalizing each input of a layer can change/reduce the capabilities what the layer
can represent.
"Batch Normalization" addresses this by making sure that the transformation inserted in
the network can represent the identity transform.
</p>

![batchnorm_algo]({{page.img}}/{{page.img_folder}}/batchnorm_algo.png)

<blockquote>
<p>
BN transform is a differentiable transformation that
introduces normalized activations into the network. This
ensures that as the model is training, layers can continue
learning on input distributions that exhibit less internal co-
variate shift, thus accelerating the training. Furthermore,
the learned affine transform applied to these normalized
activations allows the BN transform to represent the iden-
tity transformation and preserves the network capacity.
</p>
</blockquote>
</div>
</div>

<div id="outline-container-org19bb875" class="outline-2">
<h2 id="org19bb875">Batch Normalization for CNN and other networks</h2>
<div class="outline-text-2" id="text-org19bb875">
<p>
Generally BN can be applied to any set of activations in a network.
</p>
</div>
</div>

<div id="outline-container-org5fc41f6" class="outline-2">
<h2 id="org5fc41f6">Accelerating a BN Network</h2>
<div class="outline-text-2" id="text-org5fc41f6">
<p>
Just adding BN is not a magical tool that will increase the performance
of a network. The authors recommend additional changes to use the full
advantage of BN:
</p>
<ul class="org-ul">
<li>Increase learning rate</li>
<li>Remove Dropout</li>
<li>Reduce the L<sub>2</sub> weight regularization</li>
<li>Accelerate the learning rate dacay</li>
<li>Remove Local Response Normalization</li>
<li>Shuffle training examples more thoroghly</li>
<li>reduce the photometric distortions</li>
</ul>

<p>
But adding BN just to a state-of-the art network, can yield a speedup in
the training.
﻿
</p>



<hr />
<h3>
<p>
Metadata
</p>
</h3>
<table border="2" cellspacing="0" cellpadding="6" rules="rows" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Tags</b></td>
<td class="org-left">&#xa0;</td>
</tr>

<tr>
<td class="org-left"><b>Published Date</b></td>
<td class="org-left">&#xa0;</td>
</tr>
</tbody>
</table>


</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<footer class="footer">
    <div class="container">
        <p class="text-center">
          AI BLOG - Marco Pawłowski
        </p>
    </div>
</footer>
</div>
</body>
</html>
