<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<!-- 2021-11-05 Fri 23:01 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>&lrm;</title>
<meta name="author" content="Marco Pawłowski" />
<meta name="generator" content="Org Mode" />
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/font-awesome.min.css">
</head>
<body>
<div id="preamble" class="status">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content navbar-container">
    <a class="navbar-brand" href="/ai_blog/">
      <span><img src="/ai_blog/static/img/logonav.png"></span> AI Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/projects">Projects</a></li>
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/docs">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/papers">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/aboutme">About Me</a></li>
      </ul>
      <div class="navbar-right ">
          <ul class="nav navbar-nav fav-nav">
            <li><a href=""><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("navbar-toggler");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
<div id="content" class="content">
<div class="mininav" id="org071193d">
<a href="/ai_blog/papers/all_papers.html">All Papers</a>
<p>
<b>Last Papers</b>
<a href="../3d-unet/unet-3d.html"><i class="nil"></i></a>
<a href="../ai-sw-dev/ai-sw-dev.html"><i class="nil"></i></a>
<a href="alexnet.html"><i class="nil"></i></a>
<a href="../batchnorm/batchnorm.html"><i class="nil"></i></a>
<a href="../text-to-sql-zero/text-to-sql-zero.html"><i class="nil"></i></a>
<a href="../u-net/u-net.html"><i class="nil"></i>U-Net</a>
</p>

</div>

<div id="content-text">

<h1>

</h1>



<div id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#orgda8ae30">Summary</a></li>
<li><a href="#orgb387cc7">Network</a>
<ul>
<li><a href="#orgec1f91a">Structure</a></li>
<li><a href="#orgd446678">Preventing Overfitting</a></li>
</ul>
</li>
</ul>
</div>
</div>

<div id="outline-container-orgda8ae30" class="outline-2">
<h2 id="orgda8ae30">Summary</h2>
<div class="outline-text-2" id="text-orgda8ae30">
<p>
Alex Krizhevsky et al. created a deep convolutional neural network, that outperformed
other methods of image classification from the ImageNet LSVRC-2010 contest. With a modified
variant with this model they entered the ILSVRC-2012 competition and won by a significant margin.
</p>

<p>
The network classified 1.2 million images with 1000 different classes.
</p>

![results]({{page.img}}/{{page.img_folder}}/results.png)

<p>
The architecture was a simple network compared to network from today (2021). It was one of the
first CNNs that showed the potential of this structure for image recognition.
Additionally Krizhevsky presented some newer ideas in regards to neural network, like ReLu and
parallel training.
</p>
</div>
</div>

<div id="outline-container-orgb387cc7" class="outline-2">
<h2 id="orgb387cc7">Network</h2>
<div class="outline-text-2" id="text-orgb387cc7">
</div>
<div id="outline-container-orgec1f91a" class="outline-3">
<h3 id="orgec1f91a">Structure</h3>
<div class="outline-text-3" id="text-orgec1f91a">
<p>
The network consisted of five convolutional layers followed by three fully-connected layers.
This depth achieved the best result with the given hardware limitation, what was the main
factor for the size. Smaller network achieved worse performance: "we found that removing any
convolutional layer (each of which contains no more than 1% of the model’s parameters) resulted in
inferior performance."
</p>

<p>
To this day most network used the <code>than(x)</code> function as activation function.
With the use of ReLU (Rectified Linear Units) <code>max(x,0)</code> the network was able to learn much faster.
</p>

<p>
<i>Local Response Normalization</i> was used after some of the ReLU layers.
</p>

![network_structure]({{page.img}}/{{page.img_folder}}/struct.png)
*An illustration of the architecture of our CNN, explicitly showing the 
delineation of responsibilities between the two GPUs. One GPU runs the layer-parts 
at the top of the figure while the other runs the layer-partsat the bottom. 
The GPUs communicate only at certain layers. The network’s input is 150,528-dimensional, 
and the number of neurons in the network’s remaining layers is given by 
253,440–186,624–64,896–64,896–43,264–4096–4096–1000.*
</div>
</div>

<div id="outline-container-orgd446678" class="outline-3">
<h3 id="orgd446678">Preventing Overfitting</h3>
<div class="outline-text-3" id="text-orgd446678">
</div>
<div id="outline-container-org5ae7760" class="outline-4">
<h4 id="org5ae7760">Data Augmentation</h4>
<div class="outline-text-4" id="text-org5ae7760">
<p>
As stated from the authors: "The easiest and most common method to reduce overfitting on image data is to artificially enlarge
the dataset using label-preserving transformations"
</p>

<p>
To create artificial images the authors translated and reflected horizontally the images. The second data augementation was
to alter the intensity of the RGB values.
</p>
</div>
</div>

<div id="outline-container-orgb4a144c" class="outline-4">
<h4 id="orgb4a144c">Dropout</h4>
<div class="outline-text-4" id="text-orgb4a144c">
<p>
To further reduce the possibility of overfitting, a dropout was used to prevent some of the neurons to train during a step.
</p>

<p>
﻿
</p>



<hr />
<h3>
<p>
Metadata
</p>
</h3>
<table border="2" cellspacing="0" cellpadding="6" rules="rows" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Tags</b></td>
<td class="org-left">&#xa0;</td>
</tr>

<tr>
<td class="org-left"><b>Published Date</b></td>
<td class="org-left">&#xa0;</td>
</tr>
</tbody>
</table>


</div>
</div>
</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<footer class="footer">
    <div class="container">
        <p class="text-center">
          AI BLOG - Marco Pawłowski
        </p>
    </div>
</footer>
</div>
</body>
</html>
