﻿<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content navbar-container">
    <a class="navbar-brand" href="/ai_blog/">
      <span><img src="/ai_blog/static/img/logonav.png"></span> AI Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/projects">Projects</a></li>
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/docs">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/papers">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/aboutme">About Me</a></li>
      </ul>
      <div class="navbar-right ">
          <ul class="nav navbar-nav fav-nav">
            <li><a href=""><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("navbar-toggler");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
