<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<!-- 2021-11-05 Fri 23:01 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>&lrm;</title>
<meta name="author" content="Marco Pawłowski" />
<meta name="generator" content="Org Mode" />
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/ai_blog/static/css/font-awesome.min.css">
</head>
<body>
<div id="preamble" class="status">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="content navbar-container">
    <a class="navbar-brand" href="/ai_blog/">
      <span><img src="/ai_blog/static/img/logonav.png"></span> AI Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/projects">Projects</a></li>
        <li class="nav-item"> <a class="nav-link" href="/ai_blog/docs">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/papers">Papers</a></li>
        <li class="nav-item"><a class="nav-link" href="/ai_blog/aboutme">About Me</a></li>
      </ul>
      <div class="navbar-right ">
          <ul class="nav navbar-nav fav-nav">
            <li><a href=""><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<script>
var coll = document.getElementsByClassName("navbar-toggler");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
<div id="content" class="content">
<div class="mininav" id="orged5ab86">
<a href="/ai_blog/papers/all_papers.html">All Papers</a>
<p>
<b>Last Papers</b>
<a href="../3d-unet/unet-3d.html"><i class="nil"></i></a>
<a href="../ai-sw-dev/ai-sw-dev.html"><i class="nil"></i></a>
<a href="../alexnet/alexnet.html"><i class="nil"></i></a>
<a href="../batchnorm/batchnorm.html"><i class="nil"></i></a>
<a href="text-to-sql-zero.html"><i class="nil"></i></a>
<a href="../u-net/u-net.html"><i class="nil"></i>U-Net</a>
</p>

</div>

<div id="content-text">

<h1>

</h1>



<div id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#org0ee6cba">Summary</a></li>
</ul>
</div>
</div>

<div id="outline-container-org0ee6cba" class="outline-2">
<h2 id="org0ee6cba">Summary</h2>
<div class="outline-text-2" id="text-org0ee6cba">
<p>
With the recent success of neural seq2seq models for text to SQL translation, some questions
are raised in regards how models generalize with unseen data.
</p>

<p>
The authors diagnose the bottleneck and propose a new testbed. Additionally the authors designed
</p>
<blockquote>
<p>
a simple but effective auxil-iary task, which serves as a supportive modelas well as
a regularization term to the gener-ation  task  to  increase  the  models  generalization.
</p>
</blockquote>

![model]({{page.img}}/{{page.img_folder}}/model.png)
*Figure 3: Illustration of our model. The upper figure
is the text-to-SQL generation model which consists of threeparts: encoder (lower left),
AGG/SEL decoder (upper left) and where decoder (upper right).
Lower right isWHEREdecoder cell. The bottom figure is our auxiliary mapping model with the
ground-truth label of an example. Questionword is mapped to a column only when it is tagged
as part of a condition value (BvorIv).*
<p>
﻿
</p>



<hr />
<h3>
<p>
Metadata
</p>
</h3>
<table border="2" cellspacing="0" cellpadding="6" rules="rows" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Tags</b></td>
<td class="org-left">&#xa0;</td>
</tr>

<tr>
<td class="org-left"><b>Published Date</b></td>
<td class="org-left">&#xa0;</td>
</tr>
</tbody>
</table>


</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<footer class="footer">
    <div class="container">
        <p class="text-center">
          AI BLOG - Marco Pawłowski
        </p>
    </div>
</footer>
</div>
</body>
</html>
